
urxvt.scrollBar: false
urxvt.background: black
urxvt.foreground: green

urxvt.font: xft:dejavu sans mono:pixelsize=16:antialias=true
urxvt.boldFont: xft:dejavu sans mono:pixelsize=16:weight=bold:antialias=true

XClock*foreground: #fbfbfb
XClock*background: #000018
XClock*update: 1
XClock*geometry: 210x210+1020+12
XClock.Clock.majorColor:  rgba:f0/f0/19/7b
XClock.Clock.minorColor:  rgba:a0/c0/f0/c0
XClock.Clock.hourColor:   rgba:c9/66/11/72
XClock.Clock.minuteColor: rgba:00/82/9f/72
XClock.Clock.secondColor: rgba:50/93/30/6f
